header {
    padding: 24px 0;
}

h1 {
    margin: 0;
}

.caption {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.btn-huge {
    width: 96px;
    height: 96px;
}

@media (max-width: 600px) {
    h1 { font-size: 36px; }
    h2 { font-size: 30px; }
    h3 { font-size: 26px; }
    h4 { font-size: 22px; }
}

#gameHeading {
    display: inline-block;
}

#backToLobby {
    margin-right: 12px;
}

#chatWindow {
    max-width: 100%;
    height: 25vw;
    min-height: 12em;
    border: 1px solid #ccc;
    overflow-y: scroll;
}

.chat-bubble {
    padding: 12px;
    margin: 12px;
    border-radius: 50px;
    color: #fff;
    text-align: left;
}

.chat-bubble i { font-size: 2rem; }

@media (min-width: 400px) {
    .chat-bubble i { font-size: 3rem; }
}

.bubble-left {
    padding-left: 24px;
    margin-right: 40%;
    background: #42a5f5;
}

.bubble-right {
    padding-right: 24px;
    margin-left: 40%;
    background: #9e9e9e;
}
